.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #5a848c; }

.message-wrapper {
  text-align: center;
  color: white; }

.logo {
  display: block;
  width: 25vw;
  margin: 0 0 20px 0; }

#logo-svg polygon,
#logo-svg path {
  fill: white; }

.home-message {
  display: block; }
