RewriteEngine On
RewriteBase /

# Route clean URLs into /php/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ php/$1.php [QSA,L]

<IfModule mod_expires.c>
ExpiresActive On
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|avif|svg|webp|mp4|webm)$">
ExpiresDefault "access plus 1 year"
</FilesMatch>
</IfModule>
