$base-color: cyan;

$sportvatar-green: #283f42;
$flovatar-purple: #440099;
$flovatar-pink: #ef2ac1;
$wn-grey: #ececec;
$wcc-grey: #ececec;
$atomeca-manchester-brick: #781005;
$atomeca-mandarin: #F0813C;
$dimascio-blue: #9EC5E2;
$tsingtao-grey: #383333;
$tsingtao-red: #7E1112;
$tsingtao-gold: #C4AB5B;
$workstack-grey: #cecddc;
$workstack-blue: #61a6d8;
$fentimans-black: #000;

$base-type-color: #1a1a1a;
$light-type-color: #7a7a7a;

$phone-width: 500px;
$tablet-width: 768px;
$desktop-width: 1080px;

$manrope: 'Manrope-Variable', 'Arial', 'Helvetica', sans-serif;